
.icon-music:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-headphones:before { content: '\e807'; } /* '' */
.icon-note-beamed:before { content: '\e808'; } /* '' */
.icon-mic:before { content: '\e809'; } /* '' */
.icon-chat-alt:before { content: '\e80a'; } /* '' */
.icon-headphones-1:before { content: '\e80b'; } /* '' */
.icon-desktop:before { content: '\e80c'; } /* '' */
.icon-laptop:before { content: '\e80d'; } /* '' */
.icon-tablet:before { content: '\e80e'; } /* '' */
.icon-mobile:before { content: '\e80f'; } /* '' */
.icon-headphones-2:before { content: '\e810'; } /* '' */
.icon-mobile-1:before { content: '\e811'; } /* '' */
.icon-desktop-1:before { content: '\e812'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-connectdevelop:before { content: '\f20e'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */